---
const {
  img,
  title,
  footer
} = Astro.props

let date = footer.match(/\d+\.\d+\.\d+/)[0]
---
<style>
.card {
  box-shadow: 15px 10px #0084E2;
  border: solid white 12px;
}


</style>
<div class="rounded-2xl m-auto mb-16 p-2 bg-white overflow-hidden card w-full md:w-[30%]">
  <img class="rounded-t-2xl w-fll h-72" src={img}/>
  <div class="pt-4 pr-5 pl-5 h-full flex flex-col mb-2">
    <p class="text-gray-500 text-xs mb-2">{date}</p>
    <p class="text-ellipsis  whitespace-nowrap overflow-hidden  font-bold text-sm mb-9/10"><slot/></p>
  </div>
    <button class="w-2/3 mx-4 mt-auto font-bold bg-blue-500 pt-3 pr-5 text-white text-lg rounded-2xl">Прочитај повеќе</button>
</div>
