---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
---

<header class="sticky top-0 z-50 bg-white dark:bg-dark shadow">
  <SkipLinks />
  <Navigation class="!font-bold">
    <li class="menu-item">
      <a class="!text-dark hover:!text-primary-300 dark:!text-neutral dark:hover:!text-secondary-200" href="/">ПОЧЕТНА</a>
    </li>
    <li class="menu-item">
      <a class="!text-dark  hover:!text-primary-300 dark:!text-neutral dark:hover:!text-secondary-200" href="/zaNas">ЗА НАС</a>
    </li>
    <li class="menu-item">
      <a class="!text-dark  hover:!text-primary-300 dark:!text-neutral dark:hover:!text-secondary-200" href="/nastava">НАСТАВА</a>
    </li>
    <li class="menu-item">
      <a class="!text-dark  hover:!text-primary-300 dark:!text-neutral dark:hover:!text-secondary-200" href="/uslugi">УСЛУГИ</a>
    </li>
    <li class="menu-item">
      <a class="!text-dark  hover:!text-primary-300 dark:!text-neutral dark:hover:!text-secondary-200" href="/proekti">ПРОЕКТИ</a>
    </li>
    <li class="menu-item">
      <a class="!text-dark  hover:!text-primary-300 dark:!text-neutral dark:hover:!text-secondary-200" href="/kontakt">КОНТАКТ</a>
    </li>
  </Navigation>
</header>