---
import { Image } from 'astro:assets'
import hero from '../static/images/header.svg'

---

<section class="hero relative">
  <Image  src={hero} alt='header' height='700' w-full	/>
  <h3 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-center pl-0 pr-0 md:pl-[136px] md:pr-[136px]">
    - При воспитанието и образованието на децата да не тргнуваме од тешкотиите кои ги имаат, туку од можностите кои тие ги поседуваат -
  </h3>
</section>
