---
const { count, label } = Astro.props
---

<div class="flex flex-col gap-4 bg-blue-600 text-white p-8 rounded-2xl font-bold">
    <span class="text-6xl">{count}</span>
    <span class="text-3xl">{label}</span>
</div>